<!doctype html>
<html>
    <head>
        <title>Bulk SMS Notifications</title>
    </head>
    <body>
        <h1>Bulk SMS Notifications</h1>

        <%= yield %>

       <p>A sample application brought to you by <a href="https://developers.messagebird.com/">MessageBird</a> :)</p>
    </body>
</html>